/***************MOBILE****************/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    /*HEADER*/

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    header>#logo {
        width: 150px;
    }

    .navigation_site {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .navigation_site>a {
        text-decoration: none;
        color: black;
        border-top: 0px solid transparent;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
        text-align: center;
        padding: 35px;
    }

    .navigation_site>a:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid #0065FC;
        cursor: pointer;
    }

    main {
        margin-left: 0;
    }

    main>.hook_site>h2 {
        font-size: 22px;
    }


    /*SEARCH BAR */

    .search_location {
        height: 50px;
        width: 40%;
        border: 1px solid #f2f2f2;
        font-size: 19px;
        font-weight: bold;
    }

    .search_button {
        height: 50px;
        width: 130px;
        border-radius: 0 10px 10px 0;
    }


    /*FILTERS, PARAGRAPH*/

    .global_filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5px;
        padding: 15px;
    }

    .filter_choice>h3 {
        font-size: 16px;
        padding-top: 9px;
    }

    .filter_choice {
        margin: 0px 7px 20px 15px;
    }

    .global_filters>.filters_choice {
        display: flex;
        flex-wrap: wrap;
        height: 110px;
        margin-left: 0;
    }

    .housing_information_paragraph>i {
        border-radius: 100%;
        font-weight: bold;
        justify-items: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border: 1px solid #d9d9d9;
        display: flex;
    }

    .housing_information_paragraph {
        font-size: 18px;
    }


    /*ACCOMODATIONS*/

    .accomodations_displaying_results>h1,
    .populars_title>h2,
    .populars_title>i,
    .activities_block>h1 {
        margin-bottom: 30px;
    }

    .accomodations_block {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .accomodation_part_one,
    .accomodation_part_two {
        width: 100%;
    }

    .accomodation_img {
        width: 100%;
        height: 165px;
    }

    .accomodations_card {
        width: 100%;
        margin-bottom: 20px;
        max-height: 275px;
    }

    .accomodations_description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-size: 18px;
    }

    .accomodations_description>h3,
    .accomodations_description>p,
    .accomodations_description>div {
        font-size: 18px;
    }


    /*POPULARS*/

    .populars {
        width: 100%;
        border-radius: 0;
        margin-left: 0;
        background-color: #F2F2F2;
        height: 100%;
        padding: 15px;
    }

    .displaying_populars_result {
        width: 100%;
        border-radius: 0;
        margin-right: 0;
        padding: 15px;
        max-height: 100%;
        background-color: white;
    }

    .populars_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 94%;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .populars_title>h1 {
        margin: 0;
    }

    .populars_title>i {
        margin: 0;
    }

    .populars_image {
        width: 100%;
    }

    .popular_img {
        width: 100%;
        height: 180px;
    }

    .populars_description {
        width: 95%;
        display: flex;
        overflow: auto;
        margin: 0;
        font-size: 18px;
    }

    .populars_description>.populars_description_title>h3 {
        margin-bottom: 8px;
        font-size: 18px;
    }

    /*ACTIVITIES*/


    .activities_block {
        margin-top: 0px;
        padding: 15px;
        width: 100%;
    }

    .activities_displaying {
        display: flex;
        flex-direction: column;
    }



    /*FOOTER*/

    footer {
        left: 0px;
        padding-left: 3%;
        padding-top: 3%;
        margin-top: 10px;
    }

    .footer_section {
        width: 50%;
        padding-left: 2%;
    }
}